# Flutter/Dart
build/
.dart_tool/
pubspec.lock

# IDE
.idea/
*.iml

# Android
android/.gradle/
android/app/build/
android/app/google-services.json

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/

# macOS
macos/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# Windows
windows/
windows/Flutter/Flutter.podspec

# Geçici dosyalar
*.log
*.tmp
*.swp

*.gradle
*.jks
lib/firebase_options.dart
firebase.json
.flutter-plugins
.flutter-plugins-dependencies
.packages
ios/Flutter/Generated.xcconfig
ios/Podfile.lock
android/app/intermediates/
android/app/outputs/
android/local.properties
android/.idea/
android/app/src/debug/
android/app/src/profile/
android/app/src/main/res/mipmap-*
android/app/src/main/res/drawable-*
android/app/src/main/res/values-*
android/app/src/main/res/xml/
android/gradle/
android/gradle-wrapper.jar
android/gradle-wrapper.properties