# Flutter/Dart
android/app/google-services.json
lib/firebase_options.dart
firebase.json
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
android/.gradle/
android/app/build/
android/app/intermediates/
android/app/outputs/
android/local.properties
android/.idea/
android/app/src/debug/
android/app/src/profile/
android/app/src/main/res/mipmap-*
android/app/src/main/res/drawable-*
android/app/src/main/res/values-*
android/app/src/main/res/xml/
android/gradle/
android/gradle-wrapper.jar
android/gradle-wrapper.properties