<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158669560339-romjdc6rod55p78h88f94jgjvol5udkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158669560339-romjdc6rod55p78h88f94jgjvol5udkm</string>
	<key>API_KEY</key>
	<string>AIzaSyCz57vSHw93GFpgEPpW4J86xq7K99H9S-c</string>
	<key>GCM_SENDER_ID</key>
	<string>158669560339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harpia.harpiahealthanalysisws.flutterHarpiaHealthAnalysis</string>
	<key>PROJECT_ID</key>
	<string>harpia-c2066</string>
	<key>STORAGE_BUCKET</key>
	<string>harpia-c2066.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158669560339:ios:25a4c4de039169142e3de6</string>
</dict>
</plist>